# Server
NODE_ENV=development
PORT=3000

# Database
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/silveroak_placement
DATABASE_URL=postgresql://postgres:root@localhost:5432/silveroak_placement

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRY=15m
REFRESH_TOKEN_EXPIRY_DAYS=7

# File Storage
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=5

# Logging
LOG_LEVEL=debug

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=10000

# CORS
CORS_ORIGIN=http://localhost:5173

# Default Tenant
DEFAULT_TENANT_SLUG=silver-oak-university

# CRM Student Signup
CRM_STUDENT_DETAIL_URL=http://115.244.149.106:44325/api/CRMAPIStudent/GetStudentDetailByEnrollmentNo
CRM_INSTITUTE_LIST_URL=http://115.244.149.106:44325/api/CRMAPIStudent/GetInstituteList
CRM_COURSE_LIST_URL=http://115.244.149.106:44325/api/CRMAPIStudent/GetCourseList
CRM_BRANCH_LIST_URL=http://115.244.149.106:44325/api/CRMAPIStudent/GetBranchList
CRM_API_KEY=slkdjfiok;dfposdjfpkjoidshd -123
STUDENT_SIGNUP_OTP=000000
STUDENT_SIGNUP_SESSION_TTL_MINUTES=10
